/* (Responsive)*/
/* Mobile (small) */
@media screen and (min-width:320px) and (max-width:374px) {
/*header*/
.header-links a {
    padding: 14px 7.5px 0;
}
/*content*/
.content {
    height: 400px;
}
/*history*/
.history-content {
    display: none;
}
.history-text {
    width: 100%;
    height: auto;
}
.history-text a {
    margin-bottom: 2rem;
}
/*footer*/
.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.location i, .meals i, .fitness i {
    margin-top: 1rem;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.close {
    top: 75px;
}
.bt {
    display: flex;
    flex-direction: column-reverse;
}
.bt h2 {
    padding-top: 1rem;
}
/*guests*/
.guests {
    height: auto;
    padding-bottom: 2rem;
}
.guest1, .guest2 {
    height: auto;
    flex-direction: column;
    text-align: center;
}
.guest1-image, .guest2-image {
    margin: 12.5px auto 0;
}
.overlay {
    left: 0;
    width: 100%;
    height: 0;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    height: 76%;
    width: 100%;
}
/*social*/
.social {
    flex-direction: column;
}
}

/* Mobile (medium) */
@media screen and (min-width:375px) and (max-width:424px) {
/*content*/
.content {
    height: 400px;
}
/*history*/
.history-content {
    display: none;
}
.history-text {
    width: 100%;
    height: auto;
}
.history-text a {
    margin-bottom: 2rem;
}
/*footer*/
.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.location i, .meals i, .fitness i {
    margin-top: 1rem;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.close {
    top: 75px;
}
.bt {
    display: flex;
    flex-direction: column-reverse;
}
.about-image {
    margin: 25px auto;
}
.bt h2 {
    padding-top: 0;
}
/*guests*/
.guests {
    height: auto;
    padding-bottom: 2rem;
}
.guest1, .guest2 {
    height: auto;
    flex-direction: column;
    text-align: center;
}
.guest1-image, .guest2-image {
    margin: 12.5px auto 0;
}
.overlay {
    left: 0;
    width: 100%;
    height: 0;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    height: 73%;
    width: 100%;
}
/*social*/
.social {
    flex-direction: column;
}
}

/* Mobile (large) */
@media screen and (min-width:425px) and (max-width:575px) {
/*content*/
.content {
    height: 400px;
}
/*history*/
.history-content {
    display: none;
}
.history-text {
    width: 100%;
    height: auto;
}
.history-text a {
    margin-bottom: 2rem;
}
/*footer*/
.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.location i, .meals i, .fitness i {
    margin-top: 1rem;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.close {
    top: 75px;
}
.bt {
    display: flex;
    flex-direction: column-reverse;
}
.about-image {
    margin: 25px auto;
}
.bt h2 {
    padding-top: 0;
}
/*guests*/
.guests {
    height: auto;
    padding-bottom: 2rem;
}
.guest1, .guest2 {
    height: auto;
    flex-direction: column;
    text-align: center;
}
.guest1-image, .guest2-image {
    margin: 12.5px auto 0;
}
.overlay {
    left: 0;
    width: 100%;
    height: 0;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    height: 70%;
    width: 100%;
}
/*social*/
.social {
    flex-direction: column;
}
}

/* Size (small) */
@media screen and (min-width:576px) and (max-width:767px) {
/*content*/
.content {
    height: 400px;
}
/*history*/
.history-content {
    display: none;
}
.history-text {
    width: 100%;
    height: auto;
}
.history-text a {
    margin-bottom: 2rem;
}
/*footer*/
.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.location i, .meals i, .fitness i {
    margin-top: 1rem;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.close {
    top: 75px;
}
.bt {
    display: flex;
    flex-direction: column-reverse;
}
.about-image {
    margin: 25px auto;
}
.bt h2 {
    padding-top: 0;
}
/*guests*/
.guests {
    height: auto;
    padding-bottom: 2rem;
}
.guest1, .guest2 {
    height: auto;
    flex-direction: column;
    text-align: center;
}
.guest1-image, .guest2-image {
    margin: 12.5px auto 0;
}
.overlay {
    left: 0;
    width: 100%;
    height: 0;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    height: 65%;
    width: 100%;
}
/*social*/
.social {
    flex-direction: column;
}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991px) {
/*content*/
.content {
    height: 400px;
}
/*history*/
.history-content {
    display: none;
}
.history-text {
    width: 100%;
    height: auto;
}
.history-text a {
    margin-bottom: 2rem;
}
/*footer*/
.services {
    height: 275px;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.close {
    top: 75px;
}
.bt {
    display: flex;
    flex-direction: column-reverse;
}
.about-image {
    margin: 25px auto;
}
.bt h2 {
    padding-top: 0;
}
/*guests*/
.guest1, .guest2 {
    height: auto;
}
.guest1-image, .guest2-image {
    margin-top: 2rem;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    width: 86%;
}
.guest1-text h4, .guest2-text h4 {
    padding-top: 1.75rem;
}
}

/* Laptop (medium)*/
@media screen and (min-width:992px) and (max-width:1199px) {
/*history*/
.history-content, .history-text, .hbt-image {
    height: 485px;
}
/*footer*/
.footer {
    height: 50px;
}
/*about page*/
.about-content {
    height: auto;
    text-align: center;
}
.about-image {
    margin: 10% 0 0 1rem;
}
/*guests*/
.guest1, .guest2 {
    height: auto;
}
.guest1-image, .guest2-image {
    margin-top: 2rem;
}
.guest1:hover .overlay, .guest2:hover .overlay {
    width: 89.5%;
}
.guest1-text h4, .guest2-text h4 {
    padding-top: 2.5rem;
}
}

/* Laptop (large) */
@media screen and (min-width:1200px) and (max-width:1439px) {
/*history*/
.history-content, .history-text, .hbt-image {
    height: 450px;
}
}

/* Size (extra-large) */
@media screen and (min-width:1440px) and (max-width:2559px) {

}